body {
	font-family: 'Raleway', sans-serif;
	-webkit-transition: 3s;
	-moz-transition: 3s;
	-ms-transition: 3s;
	-o-transition: 3s;
	transition: 3s;
}
#form, #thank-you {
	padding: 7px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
input, select, textarea {
	
	font-size: 0.9em;
	display: block;
	width: 500px;
	margin: 10px;
	padding: 7px;
	-ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box; 
	box-sizing:content-box;
}
textarea {
	height: 250px;
}

label.error {
	font-size: .7em;
	display: block;
	width: 500px;
	padding: 6px;
	color: white;
	background-color: red;
	margin-left: 10px;
}
p.message_submit {
	padding: 20px;
	border: 1px solid #efefef;
	background: #eaeaea;
	border-radius: 10px;
}
a {
	color: slategray;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #000;
}
h3.return {
	text-align: right;
}